<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">
      Change Password
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="onAddForm" class="list-form">
    <ion-item no-padding>
      <ion-label position="floating">Old Password</ion-label>
      <app-show-hide-password>
        <ion-input type="password" formControlName="oldpassword"></ion-input>
      </app-show-hide-password>
    </ion-item>
    <div *ngIf="onAddForm.controls.oldpassword.hasError('required') && onAddForm.controls.oldpassword.touched">
      <p class="text08">Sorry, field old password is required!</p>
    </div>
    <ion-item no-padding>
      <ion-label position="floating">New Password</ion-label>
      <app-show-hide-password>
        <ion-input type="password" formControlName="newpassword" minlength="8"></ion-input>
      </app-show-hide-password>
    </ion-item>
    <div *ngIf="onAddForm.controls.newpassword.hasError('required') && onAddForm.controls.newpassword.touched">
      <p class="text08">Sorry, field new password is required!</p>
    </div>
    <div *ngIf="onAddForm.controls.newpassword.hasError('pattern') && onAddForm.controls.newpassword.touched">
      <p class="text08">Password must contain at least 8 characters, uppercase, lowercase, special character and number </p>
    </div>
    <ion-item no-padding>
      <ion-label position="floating">Confirm Password</ion-label>
      <app-show-hide-password>
        <ion-input type="password" formControlName="retypepassword"></ion-input>
      </app-show-hide-password>
    </ion-item>
    <div *ngIf="onAddForm.controls.retypepassword.hasError('required') && onAddForm.controls.retypepassword.touched">
      <p class="text08">Sorry, field confirm password is required!</p>
      </div>
      <div
        *ngIf="!onAddForm.get('retypepassword').errors && onAddForm.hasError('passwordNotMatch') && (onAddForm.get('retypepassword').dirty || onAddForm.get('retypepassword').touched)">
        <p class="text08">New Password and Confirm Password should match</p>
    </div>
    <ion-button expand="full" color="primary" class="ion-margin-top" (click)="updatePassword()"
      [disabled]="!onAddForm.valid " mode="md">RESET</ion-button>
  </form>
</ion-content>