<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{back}}"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      Current Events
    </ion-title>
    <ion-buttons slot="end">
      <div (click)="goto('my-events')">My Events</div>
      <ion-icon name="ios-arrow-forward" style="bottom: -2px;position: relative;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="filter-block">
    <div>Sort by:</div>
    <div class="options">
      <ion-col class="block first" [class.active]="sortBy === 'date'" (click)="onSortBy('date')">
        <span>Date</span>
        <ion-icon name="arrow-round-up" *ngIf="orderBy === 'asc' && sortBy === 'date'" class="sort-icon"></ion-icon>
        <ion-icon name="arrow-round-down" *ngIf="orderBy === 'desc' && sortBy === 'date'" class="sort-icon"></ion-icon>
      </ion-col>
      <ion-col class="block" [class.active]="sortBy === 'location'" (click)="onSortBy('location')">
        <span>Location</span>
        <ion-icon name="arrow-round-up" *ngIf="orderBy === 'asc' && sortBy === 'location'" class="sort-icon"></ion-icon>
        <ion-icon name="arrow-round-down" *ngIf="orderBy === 'desc' && sortBy === 'location'" class="sort-icon"></ion-icon>
      </ion-col>
      <ion-col class="block" [class.active]="sortBy === 'division'" (click)="onSortBy('division')">
        <span>Division</span>
        <ion-icon name="arrow-round-up" *ngIf="orderBy === 'asc' && sortBy === 'division'" class="sort-icon"></ion-icon>
        <ion-icon name="arrow-round-down" *ngIf="orderBy === 'desc' && sortBy === 'division'" class="sort-icon"></ion-icon>
      </ion-col>
      <ion-col class="block last" [class.active]="sortBy === 'other'" (click)="onSortBy('other')">
        <span>Other</span>
        <ion-icon name="arrow-round-up" *ngIf="orderBy === 'asc' && sortBy === 'other'" class="sort-icon"></ion-icon>
        <ion-icon name="arrow-round-down" *ngIf="orderBy === 'desc' && sortBy === 'other'" class="sort-icon"></ion-icon>
      </ion-col>
    </div>
  </div>
  <div *ngFor="let item of items">
    <ion-card class="card-block upcoming" *ngIf="item.is_myevent">
      <ion-card-content class="main-content">
        <ion-card-title color="primary" (click)="expandItem(item)" class="title">
          <div class="name">{{item.event_name}}</div>
          <ion-icon name="ios-arrow-dropdown" *ngIf="!item?.expanded" class="expand-icon"></ion-icon>
          <ion-icon name="ios-arrow-dropup" *ngIf="item.expanded ? item.expanded : false" class="expand-icon"></ion-icon>
        </ion-card-title>
        <ion-card-subtitle class="sub-title" (click)="expandItem(item)">{{formatDate(item.event_date)}}</ion-card-subtitle>
        <app-expandable expandHeight="100px" [expanded]="item.expanded ? item.expanded : false">
          <p *ngIf="item.start_time || item.end_time">
            {{timeConvert(item.start_time)}}{{item.end_time ? ' - '+timeConvert(item.end_time) : ''}}
          </p>
          {{!isEmpty(item.venue_street) ? item.venue_street : ''}}{{!isEmpty(item.venue_city) ? ', ' + item.venue_city : ''}}{{!isEmpty(item.venue_state) ? ', ' + item.venue_state : ''}}{{!isEmpty(item.venue_country) ? ', ' + item.venue_country : ''}}{{!isEmpty(item.venue_zip) ? ', ' + item.venue_zip : ''}}
          <div class="more-info-link" (click)="gotoPage(item)">More information</div>
        </app-expandable>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card class="card-block past" (click)="gotoPage(item)" *ngFor="let item of items">
    <ion-card-content class="main-content" *ngIf="!item.is_myevent">
      <ion-card-title color="primary" class="title">{{item.event_name}}</ion-card-title>
      <ion-card-subtitle class="sub-title">{{formatDate(item.event_date)}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <div class="no-events" *ngIf="isDataReceived && items.length === 0">
    <p> No any current events. </p>
  </div>
  <div class="more-link" (click)="openUpcomingEvents()">See more events on our website</div>
</ion-content>
