.forgot-pass h1
{
    color: #2f2f2f;
    font-size: 24px;
}

.avvv{
    padding: 35px;
}
.forgot-pass ion-icon {
    font-size: 30px;
}
@media screen and (max-width:360px)
{
    .forgot-pass ion-icon {
        font-size: 26px;
    }
    .forgot-pass h1
{
    font-size: 22px;
}
}
@media screen and (max-width:320px)
{
    .forgot-pass ion-icon {
        font-size: 24px;
    }
    .forgot-pass h1
{
    font-size: 20px;
}
}