<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="forgotpassword"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">
      Reset Password
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="ion-padding-horizontal">
    <form [formGroup]="onAddForm" class="list-form">

      <ion-item lines="none" no-padding class="log-data">
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="text" formControlName="email" inputmode="email" clearOnEdit="false"></ion-input>
      </ion-item>
      <div *ngIf="onAddForm.controls.email.hasError('required') && onAddForm.controls.email.touched">
        <p class="text08">Please enter email address.</p>
      </div>
      <ion-item lines="none" no-padding class="log-data">
        <ion-label position="floating">New Password</ion-label>
        <ion-input type="password" formControlName="newpassword" inputmode="password" minlength="8" clearOnEdit="false">
        </ion-input>
      </ion-item>
      <div *ngIf="onAddForm.controls.newpassword.hasError('required') && onAddForm.controls.newpassword.touched">
        <p class="text08">Please enter password.</p>
      </div>
      <div *ngIf="onAddForm.controls.newpassword.hasError('pattern') && onAddForm.controls.newpassword.touched">
        <p class="text08">Password must contain at least 8 characters, uppercase, lowercase, special character and number</p>
      </div>
      <ion-item lines="none" no-padding class="log-data">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="retypepassword" inputmode="password" clearOnEdit="false" minlength="8">
        </ion-input>
      </ion-item>
      <div *ngIf="onAddForm.controls.retypepassword.hasError('required') && onAddForm.controls.retypepassword.touched">
        <p class="text08">Please enter confirm password.</p>
      </div>
      <ion-item lines="none" no-padding class="log-data ion-padding-bottom">
        <ion-label position="floating">Enter OTP</ion-label>
        <ion-input type="number" pattern="[0-9]*" formControlName="otp" clearOnEdit="false"></ion-input>
      </ion-item>
      <div *ngIf="onAddForm.controls.otp.hasError('required') && onAddForm.controls.otp.touched">
        <p class="text08">Please enter OTP.</p>
      </div>
      <ion-button expand="full" color="primary" class="ion-margin-top" (click)="reset()" [disabled]="!onAddForm.valid "
        mode="md">Reset</ion-button>
    </form>
  </div>
</ion-content>