<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Receipt Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-content">
    <div class="tool-head" padding>
      <ion-row>
        <ion-col no-padding size="6">
          <div class="expense-title">
            <label for="expense"> Expense</label>
            <h1>$24,500</h1>
          </div>
        </ion-col>
        <ion-col no-padding size="6">
          <div class="select-title">
            <label for="expense"> Financial year</label>
            <ion-select>
              <ion-select-option value="2019" selected>2018-2019</ion-select-option>
              <ion-select-option value="2018">2017-2018</ion-select-option>
              <ion-select-option value="2017">2016-2017</ion-select-option>
              <ion-select-option value="2016">2015-2016</ion-select-option>
            </ion-select>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="row-text">
        <ion-col no-padding>
          <div class="add-new-recpt">
            <p class="blue-color">
              <ion-icon name="add"></ion-icon> &nbsp;Add new Receipt
            </p>
          </div>
        </ion-col>
        <ion-col no-padding>
          <div class="export-recpt">
            <P>Export</P>
          </div>
        </ion-col>
        <ion-col no-padding>
          <div class="upload-recpt">
            <p>Upload to cloud</p>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="expense-detail" padding>
      <div class="expense-select grey-color" padding>
        <ion-row>
          <ion-col no-padding size="8">
            <h4>Expense Detail</h4>
          </ion-col>
          <ion-col no-padding size="4">
            <ion-select>
              <ion-select-option disabled="" value="" selected>Category</ion-select-option>
              <ion-select-option value="cat1">Month</ion-select-option>
              <ion-select-option value="cat2">Year</ion-select-option>
              <ion-select-option value="cat3">Week</ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <div class="month-list">
          <ul>
            <li>December</li>
            <li class="active">January</li>
            <li>February</li>
            <li>March</li>
            <li>April</li>
            <li>May</li>
            <li>June</li>
            <li>July</li>
            <li>August</li>
            <li>September</li>
            <li>October</li>
            <li>November</li>
          </ul>
        </div>

        <div class="expense-select-detail" padding>
          <ion-row>
            <ion-col no-padding size="3">
              <img src="assets/icon/briefcase.png">
            </ion-col>
            <ion-col no-padding size="5">
              <p>Proffesional fees</p>
            </ion-col>
            <ion-col no-padding size="4">
              <span class="blue-color">$340.00</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding size="3">
              <img src="assets/icon/rating.png">
            </ion-col>
            <ion-col no-padding size="5">
              <p>To review</p>
            </ion-col>
            <ion-col no-padding size="4">
              <span class="blue-color">$340.00</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding size="3">
              <img src="assets/icon/debt.png">
            </ion-col>
            <ion-col no-padding size="5">
              <p>Bad debit</p>
            </ion-col>
            <ion-col no-padding size="4">
              <span class="blue-color">$340.00</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col no-padding size="3">
              <img src="assets/icon/accounting.png">
            </ion-col>
            <ion-col no-padding size="5">
              <p>Depreciation</p>
            </ion-col>
            <ion-col no-padding size="4">
              <span class="blue-color">$340.00</span>
            </ion-col>
          </ion-row>
          <div class="monthly-expense ion-padding-top">
            <p class="grey-color">Monthly Expense</p>
            <span class="blue-color">$340.00</span>
          </div>
          <div class="view-monthly-receipt">
            <p class="blue-color">View All</p>
          </div>
        </div>
      </div>
    </div>
    <div class="current-add" padding>
      <ion-row class="grey-color">
        <ion-col no-padding size="9">
          <h5>Current added</h5>
        </ion-col>
        <ion-col no-padding size="3">
          <p class="blue-color right"> View All</p>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col no-padding size="12">
          <h4>Salary from Company</h4>
        </ion-col>
        <ion-col no-padding size="6">
          <p class="light-grey">17-08-2017</p>
        </ion-col>
        <ion-col no-padding size="6">
          <span class="green-color">Earn: $1,79</span>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col no-padding size="12">
          <h4>Office Rent</h4>
        </ion-col>
        <ion-col no-padding size="6">
          <p class="light-grey">17-08-2017</p>
        </ion-col>
        <ion-col no-padding size="6">
          <span class="red-color">Pay: $7,09</span>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col no-padding size="12">
          <h4>Office food</h4>
        </ion-col>
        <ion-col no-padding size="6">
          <p class="light-grey">17-08-2017</p>
        </ion-col>
        <ion-col no-padding size="6">
          <span class="red-color">Earn: $1,79</span>
        </ion-col>
      </ion-row>
      <ion-row padding>
        <ion-col no-padding size="12">
          <h4>Share selling amount</h4>
        </ion-col>
        <ion-col no-padding size="6">
          <p class="light-grey">17-08-2017</p>
        </ion-col>
        <ion-col no-padding size="6">
          <span class="green-color">Earn: $1,79</span>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>