// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

@font-face {
  font-family: 'Prelo Medium';
  src: url('../assets/font/Prelo-fonts/Prelo-Medium.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Prelo Book';
  src: url('../assets/font/Prelo-fonts/Prelo-Book.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Prelo Bold';
  src: url('../assets/font/Prelo-fonts/Prelo-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Prelo BoldItalic';
  src: url('../assets/font/Prelo-fonts/Prelo-BoldItalic.ttf');
  font-weight: 600;
  font-style: normal;
}


*{
  font-family: 'Prelo Medium'!important;
}
$font-family-base: 'Prelo Medium' !default;

:root {
  /** primary **/
  --ion-color-primary: #009CDE;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #009CDE;
  --ion-color-primary-tint: #009CDE;

  /** secondary **/
  --ion-color-secondary: #1b304c;
  --ion-color-secondary-rgb: 27, 48, 76;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #20364f;
  --ion-color-secondary-tint: #314d6e;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #efaf19;
  --ion-color-warning-rgb: 239, 175, 25;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #f2bf48;
  --ion-color-warning-tint: #f7b51b;

  /** danger **/
  --ion-color-danger: #ff5c5b;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


   /** white **/
   --ion-color-white: #ffffff;
   --ion-color-white-rgb: 255, 255, 255;
   --ion-color-white-contrast: #000000;
   --ion-color-white-contrast-rgb: 0, 0, 0;
   --ion-color-white-shade: #ffffff;
   --ion-color-white-tint: #ffffff;
}
