<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{back}}"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      Grad Week 2021 FAQ
    </ion-title>
    <ion-buttons slot="end">
      <div (click)="gotoAgenda()">Agenda</div>
      <ion-icon name="ios-arrow-forward" style="bottom: -2px;position: relative;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding scrollX = "true">
  <pinch-zoom>
    <p class="faq innerHtmltd" [innerHTML]="gradWeekFaq?.faq | safeHtml"></p>
  </pinch-zoom>
</ion-content>
