<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">
      Forgot Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="avvv ion-padding-horizontal">
    <form [formGroup]="onAddForm" class="list-form">

      <ion-item lines="none" no-padding class="log-data">
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="text" formControlName="email" inputmode="email" clearOnEdit="false"></ion-input>
      </ion-item>
      <div *ngIf="onAddForm.controls.email.hasError('required') && onAddForm.controls.email.touched">
        <p class="text08">Please enter email address.</p>
      </div>
      <div *ngIf="onAddForm.controls.email.hasError('pattern') && onAddForm.controls.email.touched">
        <p class="text08">Enter valid email address.</p>
      </div>
      <ion-text>
        <p class="for-pass" (click)="goalready('resetpassword')">Already have an OTP?</p>
      </ion-text>
      <ion-button expand="full" mode="md" color="primary" class="ion-margin-top" [disabled]="!onAddForm.valid"
        (click)="forgotPassword()">Send otp</ion-button>
    </form>
  </div>
</ion-content>