<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title color="dark">
      Registration
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="ion-padding-horizontal">
    <form [formGroup]="onAddForm">
      <div class="register-data">
        <ion-row>
          <ion-col size="6">
            <ion-item no-padding lines="none">
              <ion-label position="floating">First Name</ion-label>
              <ion-input type="text" formControlName="firstname"
                (ionChange)="capitalize('firstname', onAddForm.controls.firstname)"></ion-input>
            </ion-item>
            <ion-item lines="none" no-padding
              *ngIf="onAddForm.controls.firstname.hasError('required') && onAddForm.controls.firstname.touched">
              <p class="text08">Please enter first name.</p>
            </ion-item>
            <ion-item lines="none" no-padding *ngIf="
                onAddForm.controls.firstname.hasError('pattern') &&
                onAddForm.controls.firstname.touched
              ">
              <p class="text08">Please enter only alphabets</p>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item no-padding lines="none">
              <ion-label position="floating">Last Name</ion-label>
              <ion-input type="text" formControlName="lastname"
                (ionChange)="capitalize('lastname', onAddForm.controls.lastname)"></ion-input>
            </ion-item>
            <ion-item lines="none" no-padding
              *ngIf="onAddForm.controls.lastname.hasError('required') && onAddForm.controls.lastname.touched">
              <p class="text08">Please enter last name.</p>
            </ion-item>
            <ion-item lines="none" no-padding *ngIf="
                onAddForm.controls.lastname.hasError('pattern') &&
                onAddForm.controls.lastname.touched
              ">
              <p class="text08">Please enter only alphabets</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
      <div class="border-cls">
        <ion-item class="email" lines="none" no-padding>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="email" inputmode="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item lines="none" no-padding
          *ngIf="onAddForm.controls.email.hasError('required') && onAddForm.controls.email.touched">
          <p class="text08">Please enter email address.</p>
        </ion-item>
        <ion-item lines="none" no-padding
          *ngIf="onAddForm.controls.email.hasError('pattern') && onAddForm.controls.email.touched">
          <p class="text08">Enter valid email address</p>
        </ion-item>
        <ion-item class="mobile" lines="none" no-padding>
          <ion-label position="floating">Mobile Number</ion-label>
          <ion-input type="tel" formControlName="mobile_no" pattern="[0-9]*" minlength="10" maxlength="10">
          </ion-input>
        </ion-item>
        <ion-item lines="none" no-padding
          *ngIf="onAddForm.controls.mobile_no.hasError('required') && onAddForm.controls.mobile_no.touched">
          <p class="text08">Please enter mobile number.</p>
        </ion-item>
        <ion-item lines="none" no-padding
          *ngIf="(!onAddForm.controls.mobile_no.hasError('pattern') && (onAddForm.controls.mobile_no.hasError('minlength') || onAddForm.controls.mobile_no.hasError('maxlength'))) && onAddForm.controls.mobile_no.touched">
          <p class="text08">Enter valid mobile number</p>
        </ion-item>

        <ion-item lines="none" no-padding
          *ngIf="onAddForm.controls.mobile_no.hasError('pattern') && onAddForm.controls.mobile_no.touched">
          <p class="text08">Enter valid mobile number</p>
        </ion-item>
        <ion-item class="pcode" lines="none" no-padding>
          <ion-label position="floating">Post Code</ion-label>
          <ion-input type="number" formControlName="pincode" pattern="[0-9]*"></ion-input>
        </ion-item>
        <ion-item lines="none" no-padding
          *ngIf="onAddForm.controls.pincode.hasError('required') && onAddForm.controls.pincode.touched">
          <p class="text08">Please enter postcode.</p>
        </ion-item>
        <ion-item lines="none" no-padding
          *ngIf="onAddForm.controls.pincode.hasError('pattern') && onAddForm.controls.pincode.touched">
          <p class="text08">Enter valid postcode</p>
        </ion-item>
        <ion-item class="no-ripple" lines="none" style="--padding-start: 0;">
          <ion-row>
            <ion-col size="1" no-padding no-margin style="min-width: 34px;">
              <ion-item no-padding no-margin lines="none" class="no-ripple">
                <ion-checkbox  mode="md" class="no-ripple" formControlName="privacyPolicy" [checked]="false" no-ripple></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col size="10" class="info-link" no-padding no-margin>
              <ion-item no-padding no-margin lines="none" class="no-ripple" rippleEffect="false">
                <ion-label style="white-space: normal;" class="no-ripple" rippleEffect="false">
                  Information collected and used via these means is done so in
                  accordance with our<a (click)="openPrivacy('https://www.rsm.global/australia/legal/privacy-policy')">
                    Privacy Policy.
                  </a>
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-button color="primary" expand="block" mode="md" (click)="checkemail()" [disabled]="!onAddForm.valid || !onAddForm.value.privacyPolicy">Next
        </ion-button>
        <div class="log-here  ion-padding-vertical">
          <p>Already have an account?<span class="blue-color" (click)="goto('login')">Login here </span></p>
        </div>
      </div>
    </form>
  </div>
</ion-content>
