button.add-vehicle-btn {
    background: #009cde;
    color: #fff;
    margin-top: 25px;
    padding: 12px 0px;
    width: 100%;
}
.trip-list p {
    margin: 0;
    font-size: 14px;
    color: #2f2f2f;
}
.trip-list
{
    margin: 20px 0px;
}
button.add-vehicle-btn ion-icon{
vertical-align: bottom;
}



@media only screen and (max-width: 414px) 
{
    button.add-vehicle-btn {
        
        margin-top: 40px;
       
    }

}
@media only screen and (max-width: 411px) 
{
    button.add-vehicle-btn {
        
        margin-top: 25px;
       
    }

}
@media only screen and (max-width: 375px) 
{
    button.add-vehicle-btn {
        
        margin-top: 40px;
       
    }

}
@media only screen and (max-width: 360px) 
{
    button.add-vehicle-btn {
        
        margin-top: 25px;
       
    }

}
@media only screen and (max-width: 320px) 
{
    button.add-vehicle-btn {
        
        margin-top: 39px;
       
    }
    .trip-list p
    {
        font-size: 12px;
    }

}