<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      EXPENSE CATEGORY
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close" (click)='dismiss()' class="close-btn"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-list>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Cost of Goods Bought
            </ion-label>
            <p> Raw materials and direct costs that arise from producing your goods </p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              CIS Payments to Subcontractors
            </ion-label>
            <p> Costs that arise from producing your goods paid to Subcontractors under<br>
              the Construction Industry Scheme </p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Staff Costs
            </ion-label>
            <p> Employee and staff salaries, including bonuses, pension contributions,<br>
              benefits, agency fees, and employer National Insurance contributions </p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Travel Costs
            </ion-label>
            <p> Business travel by train, bus, plane or taxi and hotel accommodation and<br>
              meals during overnight business trips </p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Motor Expenses
            </ion-label>
            <p> Business related car or van costs including vehicle insurance, fuel, hire<br>
              charges, repairs, servicing and breakdown cover </p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Premises Running Costs
            </ion-label>
            <p> Rent, utility bills, property insurance and security</p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Phone Charges
            </ion-label>
            <p> Landline and mobile phone charges</p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Maintenance Cost
            </ion-label>
            <p> Business premises maintenance and repair costs</p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Admin Costs
            </ion-label>
            <p>Business stationery, printing costs, postage</p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Business Entertainment Costs
            </ion-label>
            <p>Entertaining clients, suppliers and customers or event hospitality - these<br>
              are non-deductible from a tax perspective</p>
          </ion-header>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>

        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Advertising Costs
            </ion-label>
            <p> Marketing costs, directory listings, mailshots and website costs </p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Interest
            </ion-label>
            <p> Interest on bank and business loans, hire purchase interest and leasing<br>
              payments </p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Financial Charges
            </ion-label>
            <p> Bank, overdraft and credit card charges </p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Bad Debt
            </ion-label>
            <p> Cost associated with bad debt chasing or recovery </p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Professional Fees
            </ion-label>
            <p> Business related fees for Accountants, Solicitors, Surveyors, architects or<br>
              other professionals</p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Depreciation
            </ion-label>
            <p> Write down of the business capital assets</p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              Other
            </ion-label>
            <p> Other expenses</p>
          </ion-header>
        </ion-item>
        <ion-item lines="none" no-padding>
          <ion-header>
            <ion-label>
              To Review
            </ion-label>
            <p>Items that require review or analysis by your adviser or accountant</p>
          </ion-header>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>